.departures-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.departures-list {
  padding-left: 0;

  .departure-item {
    display: flex;
    gap: 5px;
    justify-content: space-between;

    &.header {
      font-weight: bold;
    }
  }
}

.train-gif {
  width: 100%;
}
