@tailwind base;
@tailwind components;
@tailwind utilities;
@use "styles/_colors.scss";

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin: 20px;
}
